/* Basic Styles */
* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/* Header and Navigation */
header {
  margin-bottom: 48px;
  display: flex;
  background-color: #ffffff;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
  padding: 0 4%;
}

.myntra_home {
  height: 45px;
  cursor: pointer;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
  transition: 1.5s ease-in-out;
}

.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main_content {
  transition: margin-left .5s;
  padding: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav_bar {
      display: none;
  }

  .logo_container {
      cursor: pointer;
  }
}

@media (max-width: 576px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  .action_bar {
      justify-content: center;
      width: 100%;
  }
}
